# Visual Studio solution and project files
*.sln
*.vcxproj.user
*.vcxproj.filters

# Build results
/bin/
/build/
/Debug/
/Release/
*.obj
*.exe
*.log
*.pch
*.pdb
*.ilk
*.idb
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.tlog
*.lastbuildstate

# VS-specific folders
.vs/
*.VC.db
*.VC.opendb

# Backup and temp files
*.tmp
*.bak
*.cache
*.~*

# Data base
/data/product_data.txt